
/*--------------------------- 1 Color ---------------------------- */

$colorLight: #fff;
$colorDark: #000;

/*--------------------------- 2 RWD ---------------------------- */

$rwdTablet: 920px;
$rwdMobile: 760px;
